name: LogForge Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1
        with:
          sdk: stable

      - name: Install dependencies
        run: dart pub get

      - name: Build executable
        run: dart compile exe bin/logforge.dart -o build/logforge

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/logforge
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
